{% extends "base/base.html" %}

{% block title %}
    Cart
{% endblock %}

{% block content %}
    <section class="cart-summary">
        <div class="cart-summary__container">
            <div class="cart-summary__heading-container">
                <h3 class="cart-summary__heading">
                    <span>Y</span>our <span>C</span>art!
                </h3>
            </div>
            <div class="cart-summary__items empty-cart">
                <table class="cart-summary__table">
                    {% for item in cart %}
                        {% with product=item.product %}
                            <tr data-index="{{ item.id }}" class="cart_summary__table_row">
                                <td class="cart-summary__item cart-summary__item-info">
                                    <p class="cart-summary__item-name">{{ product.name }}</p>
                                    {% if item.size %}
                                        <p class="cart-summary__item-size">Size: {{ item.size }}</p>
                                    {% endif %}
                                    <p class="cart-summary__item-price">
                                        Price: <span
                                            id="item-total-price{{ item.id }}">{{ item.total_price|floatformat:2 }}</span>lv.
                                    </p>
                                </td>
                                <td class="cart-summary__item cart-summary__item-action">
                                    <select id="select{{ item.id }}" class="cart-summary__item-select">
                                        <option selected>
                                            {{ item.qty }}
                                        </option>
                                        <option value="">1</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                        <option value="">4</option>
                                        <option value="">5</option>
                                        <option value="">6</option>
                                        <option value="">7</option>
                                        <option value="">8</option>
                                        <option value="">9</option>
                                        <option value="">10</option>
                                    </select>
                                    <button type="button" id="update-button" data-index="{{ item.id }}"
                                            class="update-button btn--fill-left">
                                        Update
                                    </button>
                                    <button type="button" id="delete-button" data-index="{{ item.id }}"
                                            class="delete-button">
                                        X
                                    </button>
                                </td>
                            </tr>
                        {% endwith %}
                    {% empty %}
                        <tr class="cart_summary__table_row">
                            <h5 class="cart-summary__empty-table-heading">Your cart is empty</h5>
                            <a href="{% url 'menu' %}" class="btn--fill-left">Menu</a>
                        </tr>
                    {% endfor %}
                </table>
                {% if cart %}
                    <div class="cart-summary__final-price">
                        {# TODO: Replace with the restaurant app delivery fee #}
                        <p class="final-price-par">Delivery fees: 2lv</p>
                        <h5 class="final-price">
                            Final Price
                            <span id="final-price">
                            {{ cart.total_price|floatformat:2 }}lv
                        </span>
                        </h5>
                    </div>
                    <div class="cart-summary__order_btn">
                        <a href="{% url 'place order' %}" class="btn--fill-left">Order Now!</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    <script>
        {# Update button #}
        $(document).on('click', '.update-button', function (e) {
            e.preventDefault();
            var itemId = $(this).data('index');
            $.ajax({
                type: 'POST',
                url: '{% url "cart update" %}',
                data: {
                    itemId: $(this).data('index'),
                    itemQty: $('#select' + itemId + ' option:selected').text(),
                    csrfmiddlewaretoken: "{{csrf_token}}",
                    action: 'post'
                },
                success: function (json) {
                    document.getElementById("cart-items").innerHTML = json.qty
                    document.getElementById("item-total-price" + itemId).innerHTML = json.item_total_price
                    document.getElementById("final-price").innerHTML = json.final_price
                },
                error: function (xhr, errmsg, err) {
                    console.error(err);
                    console.error(errmsg);
                }
            });
        })

        {# Delete button #}
        $(document).on('click', '.delete-button', function (e) {
            e.preventDefault();
            var itemId = $(this).data('index');
            $.ajax({
                type: 'POST',
                url: '{% url "cart delete" %}',
                data: {
                    itemId: $(this).data('index'),
                    csrfmiddlewaretoken: "{{csrf_token}}",
                    action: 'post'
                },
                success: function (json) {
                    $('.cart_summary__table_row[data-index="' + itemId + '"]').remove();
                    document.getElementById("cart-items").innerHTML = json.qty
                    document.getElementById("final-price").innerHTML = json.final_price

                    if (json.qty <= 0) {
                        $('#btn-order').removeClass('items-added');
                        $('#cart-items').hide();
                        window.location.replace("{% url 'menu' %}");
                    }
                },
                error: function (xhr, errmsg, err) {
                    console.error(err);
                    console.error(errmsg);
                }
            });
        })
    </script>
{% endblock %}
