{% extends "base/base.html" %}
{% load static %}

{% block title %}
    Contacts
{% endblock %}

{% block content %}
    <video autoplay muted loop id="bgVideo">
        <source src="{% static 'assets/video/dough-video.mp4' %}" type="video/mp4">
    </video>
    <section class="contacts">
        <div class="contacts__container">
            <div class="contacts__info">
                <div class="contacts__heading-container">
                    <h3 class="contacts__heading">
                        <span>G</span>et <span>I</span>n <span>T</span>touch
                    </h3>
                </div>
                <div class="contacts__contacts_items">
                    <div class="contacts__item">
                        <div class="contacts_img">
                            <img src="{% static 'assets/img/contacts/home.png' %}" alt="Home image">
                        </div>
                        <div class="contacts_par">
                            <p>
                                <a href="https://www.google.com/maps/place/Juliany+Pizza/@42.6104744,23.0345309,19.5z/data=!4m5!3m4!1s0x0:0x3120691ee7843749!8m2!3d42.610563!4d23.0346554"
                                   target="_blank">
                                    Find Us here
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="contacts__item">
                        <div class="contacts_img">
                            <img src="{% static 'assets/img/contacts/phone.png' %}" alt="Phone image">
                        </div>
                        <div class="contacts_par">
                            <p>
                                <a href="tel:+359877556899">+359877556899</a>
                            </p>
                        </div>
                    </div>
                    <div class="contacts__item">
                        <div class="contacts_img">
                            <img src="{% static 'assets/img/contacts/facebook.png' %}" alt="Facebook image">
                        </div>
                        <div class="contacts_par">
                            <p>
                                <a href="https://www.facebook.com/julianypizza" target="_blank">www.facebook.com/julianypizza</a>
                            </p>
                        </div>
                    </div>
                    <div class="contacts__item">
                        <div class="contacts_img">
                            <img src="{% static 'assets/img/contacts/clock.png' %}" alt="Home image">
                        </div>
                        <div class="contacts_par">
                            <p>Monday - Saturday</p>
                            <p>08:00 - 20:00</p>
                        </div>
                    </div>
                </div>
            </div>
            <form method="POST" action="{% url 'contacts' %}" class="contacts__form">
                <div class="contacts__heading-container">
                    <h3 class="contacts__heading">
                        <span>S</span>end us a <span>M</span>ail
                    </h3>
                </div>
                {% csrf_token %}
                {{ form }}
                <button class="btn--fill-left">Send</button>
            </form>
        </div>
    </section>
{% endblock %}