{% extends "base/base.html" %}
{% block title %}Welcome{% endblock %}

{% block content %}
    <section id="index">
        <div class="index__heading-box">
            <h1 class="index__title"><span>J</span>uliany <span>P</span>izza</h1>
            <p class="index__par">Making <span>people</span> happy</p>
            <div class="index__buttons-box">
                {% if not user.is_authenticated %}
                    <a href="{% url 'login' %}" class="btn--fill-left">Log In</a>
                {% endif %}
                <a href="{% url 'menu' %}" class="btn--fill-left">Our Menu</a>
            </div>
        </div>
    </section>
{% endblock %}
