{% extends "base/base.html" %}

{% block title %}
    Change Pasword
{% endblock %}

{% block content %}
    <section class="password-change">
        <div class="section-container">
            <div class="password-change__heading-container">
                <h3 class="password-change__heading">
                    <span>C</span>hange <span>P</span>assword
                </h3>

                <p class="password-change__par">Fill in the form below to change your password</p>
            </div>
            <form action="{% url 'change password' %}" method="POST" class="generic-form password-change__form">
                {% csrf_token %}
                {{ form }}
                <button class="btn--fill-left">Change Password</button>
            </form>
        </div>
    </section>

{% endblock %}
