{% extends "base/base.html" %}
{% block title %}Login To Your Account{% endblock %}
{% block content %}
    <section class="login">
        <div class="section-container">
            <div class="login__heading-container">
                <h3 class="login__heading">
                    <span>W</span>elcome <span>B</span>ack!
                </h3>

                <p class="login__par">Sign in with your username and password</p>
            </div>

            <form method="POST" action="{% url 'login' %}?next={{ next }}" class="generic-form login__form">
                {% csrf_token %}
                {{ form }}
                {% if form.errors %}
                    <p class="login__error-msg">Incorect username or password, please try again.</p>
                {% endif %}
                <button class="btn--fill-left">Login</button>

                <div class="login_footer">
                    <p class="login__register-link">Don't have an account?
                        <a class="btn--redirect" href="{% url 'register' %}">Register</a>
                    </p>
                    <p class="login__register-link">Forgotten password?
                        <a class="btn--redirect" href="{% url 'reset password' %}">Click here</a>
                    </p>
                </div>

            </form>
        </div>
    </section>
{% endblock %}