{% extends "base/base.html" %}
{% block title %}Login To Your Account{% endblock %}
{% block content %}
    <section class="login">
        <div class="login__container">
            <div class="login__heading-container">
                <h3 class="login__heading">
                    <span>W</span>elcome <span>B</span>ack!
                </h3>

                <p class="login__par">Sign in with your username and password</p>
            </div>

            <form method="POST" action="{% url 'login' %}?next={{ next }}" class="generic-form login__form">
                {% csrf_token %}
                {{ form }}
                <button class="btn--fill-left">Login</button>

                <p class="login__register-link">Don't have an account?
                    <a class="btn--redirect" href="{% url 'register' %}">Register</a>
                </p>
            </form>
        </div>
    </section>
{% endblock %}