{% extends "base/base.html" %}
{% block title %}Login To Your Account{% endblock %}
{% block content %}
    <section class="login">
        <div class="login__container">
            <h3 class="login__heading"><span>L</span>og in <span>Y</span>our <span>A</span>ccount</h3>

            <form method="POST" action="{% url 'login' %}?next={{ next }}" class="login__form">
                {% csrf_token %}
                {{ form }}
                <button class="btn--fill-left">Login</button>
            </form>
        </div>
    </section>
{% endblock %}