{% extends "base/base.html" %}

{% block title %}
    Password Reset
{% endblock %}

{% block content %}
    <section class="password-reset">
        <div class="section-container">
            <div class="password-reset__heading-container">
                <h3 class="password-reset__heading">
                    <span>F</span>orgotten <span>P</span>assword?
                </h3>

                <p class="login__par">Enter your email below</p>
            </div>
            <form action="{% url 'reset password' %}" method="POST" class="generic-form password-reset__form">
                {% csrf_token %}
                {{ form }}
                <button class="btn--fill-left">Send Email</button>
            </form>
        </div>
    </section>

{% endblock %}
