{% extends "base/base.html" %}

{% block title %}Register{% endblock %}
{% block content %}

    <section class="register">
        <div class="register__container">
            <h3 class="register__heading"><span>B</span>ecome a <span>M</span>ember</h3>

            <form method="POST" action="{% url 'register' %}" class="register__form">
                {% csrf_token %}
                {{ form }}
                <button class="btn--fill-left">Register</button>
            </form>
        </div>

    </section>

{% endblock %}