{% extends "base/base.html" %}
{% block title %}Login To Your Account{% endblock %}
{% block content %}
    <section class="reset-password-confirm">
        <div class="reset-password-confirm__container">
            <div class="reset-password-confirm__heading-container">
                <h3 class="reset-password-confirm__heading">
                    <span>S</span>et <span>N</span>ew <span>P</span>assword
                </h3>
            </div>

            <form method="POST" action="" class="generic-form reset-password-confirm__form">
                {% csrf_token %}
                {% if validlink %}
                    {{ form }}
                    <button class="btn--fill-left">Reset Password</button>

                {% else %}
                    <h4 class="reset-password-confirm-heading--invalid">Password reset unsuccessful</h4>
                    <p class="reset-password-confirm-par--invalid">The password reset link was invalid,
                        possibly because it has already been used.
                        <br>
                        Please request a new password reset.</p>
                    <a href="{% url 'reset password' %}" class="btn--fill-left">Try Again</a>
                {% endif %}
            </form>
        </div>
    </section>
{% endblock %}

{#<h4>Set New Password</h4>#}
{##}
{#<form action="" method="post">#}
{#    {% csrf_token %}#}
{#    {% if validlink %}#}
{#        <p>Please enter your new password twice.#}
{#            So we can verify you typed it in correctly.</p>#}
{##}
{#        <p>#}
{#            {{ form.new_password1.errors }}<br/>#}
{#            {{ form.new_password1 }}#}
{#        </p>#}
{##}
{#        <p class="button-height">#}
{#            {{ form.new_password2.errors }}<br/>#}
{#            {{ form.new_password2 }}#}
{#        </p>#}
{#    {% else %}#}
{#        <h4>Password reset unsuccessful</h4>#}
{#        <p>The password reset link was invalid,#}
{#            possibly because it has already been used.#}
{#            Please request a new password reset.</p><br/>#}
{#    {% endif %}#}
{##}
{#    <button type="submit">Change my password</button>#}
{#</form>#}