{% extends "base/base.html" %}
{% block title %}Login To Your Account{% endblock %}
{% block content %}
    <section class="reset-password-confirm">
        <div class="section-container">
            <div class="section-container__heading-container">
                <h3 class="section-container-confirm__heading">
                    <span>S</span>et <span>N</span>ew <span>P</span>assword
                </h3>
            </div>

            <form method="POST" action="" class="generic-form reset-password-confirm__form">
                {% csrf_token %}
                {% if validlink %}
                    {{ form }}
                    <button class="btn--fill-left">Reset Password</button>

                {% else %}
                    <h4 class="reset-password-confirm-heading--invalid">Password reset unsuccessful</h4>
                    <p class="reset-password-confirm-par--invalid">The password reset link was invalid,
                        possibly because it has already been used.
                        <br>
                        Please request a new password reset.</p>
                    <a href="{% url 'reset password' %}" class="btn--fill-left">Try Again</a>
                {% endif %}
            </form>
        </div>
    </section>
{% endblock %}
