/* =========================================== */
/*               FORMS                         */
/* =========================================== */
.generic-form {
    margin: 0 auto;
    background: rgba(0, 0, 0, .8);
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    box-shadow: 1rem 1.5rem 2rem rgba(0, 0, 0, .6);
}

.generic-form label {
    margin: .5rem auto;
}

.errorlist li {
    font-size: 1.4rem;
    color: var(--tomato);
    text-align: center;
    list-style: none;
}