<nav>
    <div class="nav__wrapper">
        <a href="{% url 'index' %}" class="nav__logo">
            <span>J</span>uliany <span>P</span>izza
        </a>
        <ul id="nav" class="nav__list">
            <li class="nav__item">
                <a href="{% url 'index' %}" class="btn--underline">Home</a>
            </li>
            <li class="nav__item">
                <a href="{% url 'menu' %}" class="btn--underline">Our Menu</a>
            </li>
            <li class="nav__item">
                <a href="{% url 'about' %}" class="btn--underline">About</a>
            </li>
            <li class="nav__item">
                <a href="{% url 'contacts' %}" class="btn--underline">Contacts</a>
            </li>

            {% if user.is_authenticated %}
                {{ user.pk }}
                <li class="nav__item">
                    <a href="{% url 'profile' user.pk %}" class="btn--underline">Profile</a>
                </li>
                <li class="nav__item">
                    <a href="{% url 'logout' %}" class="btn--underline">Log Out</a>
                </li>
            {% else %}
                <li class="nav__item">
                    <a href="{% url 'login' %}" class="btn--underline">Log In</a>
                </li>
                <li class="nav__item">
                    <a href="{% url 'register' %}" class="btn--underline">Register</a>
                </li>
            {% endif %}

            <li class="nav__item">
                <a id="btn-order" href="{% url 'cart summary' %}" class="btn--underline">
                    Order
                    {% with total_qty=cart|length %}
                        <span id="cart-items">
                            {% if total_qty > 0 %}
                                {{ total_qty }}
                            {% else %}
                            {% endif %}
                        </span>
                    {% endwith %}
                </a>
            </li>
        </ul>
    </div>
</nav>