<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
        <a href="{% url 'index' %}" class="nav__logo">
            <span>J</span>uliany <span>P</span>izza
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            {% with total_qty=cart|length %}
                <span id="cart-items-outer">
                            {% if total_qty > 0 %}
                                {{ total_qty }}
                            {% else %}
                            {% endif %}
                        </span>
            {% endwith %}
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a aria-current="page" href="{% url 'index' %}" class="nav-link btn--underline">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'menu' %}" class="nav-link btn--underline">Our Menu</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'about' %}" class="nav-link btn--underline">About</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'contacts' %}" class="nav-link btn--underline">Contacts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'profile' user.pk %}" class="nav-link btn--underline">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link btn--underline">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link btn--underline">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'register' %}" class="nav-link btn--underline">Register</a>
                    </li>
                {% endif %}
                {% if user.is_staff %}
                    <li class="nav-item">
                        <a id="orders" href="{% url 'orders' %}" class="nav-link btn--underline">Orders
                            <span id="orders-count">
                                {% if orders_count > 0 %}
                                    {{ orders_count }}
                                {% endif %}
                            </span>
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a id="btn-order" href="{% url 'cart summary' %}" class="nav-link btn--underline">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-cart" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
                        </svg>
                        {% with total_qty=cart|length %}
                            <span id="cart-items">
                            {% if total_qty > 0 %}
                                {{ total_qty }}
                            {% endif %}
                        </span>
                        {% endwith %}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
