{% extends 'base/base.html' %}

{% block title %}
    Order Placed
{% endblock %}

{% block content %}
    <section class="order_success">
        <div class="section-container generic-form">
            <div class="section-container__heading-container flexed">
                <h3 class="section-container__heading">
                    Successfully ordered!
                </h3>

                <a href="{% url 'index' %}" class="btn--fill-left">Home</a>
            </div>
        </div>
    </section>
{% endblock %}