{% extends "base/base.html" %}

{% block title %}
    Food Menu
{% endblock %}

{% block content %}
    <section class="menu">
        <div class="menu__container">
            <div class="menu__heading-container">
                <h3 class="menu__heading">
                    {#                    {{ size }}#}
                    <span>O</span>ur <span>M</span>enu!
                </h3>
            </div>
            <div class="menu__items">
                {% for category in categories %}
                    <h4 class="menu__category_name">{{ category.name }}</h4>
                    <table class="menu__table">
                        {% for item in stock %}
                            {% if item.product.category == category %}
                                <tr>
                                    <td class="menu__item">
                                        <p class="menu__item-name">{{ item.product.name }}
                                            {% if not item.size == "---" %}
                                                {{ item.size }}
                                            {% else %}

                                            {% endif %}</p>
                                        <span class="menu__ingredients">{{ item.product.ingredients.all|join:', ' }}</span>
                                    </td>
                                    <td class="menu__price-container">
                                        <span class="menu__price">{{ item.price }}lv.</span>
                                        <button
                                                type="button"
                                                id="update-button"
                                                data-index="{{ item.id }}"
                                                value="{{ item.id }}"
                                                class="btn--fill-left btn__add-to-cart">
                                            +
                                        </button>
                                    </td>
                                </tr>
                            {% endif %}

                        {% endfor %}
                    </table>
                {% empty %}
                    <h4 class="menu__category_name">Nothing to show yet.</h4>
                {% endfor %}
            </div>
        </div>
    </section>

    <script>
        $(document).on('click', '.btn__add-to-cart', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "cart add" %}',
                data: {
                    itemId: $(this).data('index'),
                    csrfmiddlewaretoken: "{{csrf_token}}",
                    action: 'post'
                },
                success: function (json) {
                    document.getElementById("cart-items").innerHTML = json.qty
                    let btn = document.getElementById('btn-order');
                    btn.classList.add('items-added');
                    console.log(json)
                    {#document.getElementById("subtotal").innerHTML = json.subtotal#}
                },
                error: function (xhr, errmsg, err) {
                }
            });
        })


        {#     THIS IS WORKING -- DO NOT REMOVE #}
        {#jQuery(document).on('click', ".btn__add-to-cart", function () {#}
        {#    var $this = $(this);#}
        {#    let value = $this.val();#}
        {#    var id = $this.attr('id').split('-')[1];#}
        {#    var option = $("#size-" + id);#}
        {#    if (option.val()) {#}
        {#        console.log(value + " size: " + option.val());#}
        {#    } else {#}
        {#        console.log(value);#}
        {#    }#}
        {# });#}
    </script>
{% endblock %}